{{!-- <div class="box">
    <div class="popUp">
        <div class="boxbar">
            <p>Giỏ hàng</p>
            <button class="closeButton" type="buttonsubmit">&times;</button>
        </div>
        <table border="6">
            <thead>
                <th class='colsp'>Sản phẩm</th>
                <th class='col'>Đơn giá</th>
                <th class='col'>Số lượng</th>
                <th class='col'>Thành tiền</th>
            </thead>
            <tbody class='cart'>
                <!-- render cart-->
                <tr class="sum">
                    <td class='colsp'>
                        <div class="infosp">
                            <b>Tổng tiền</b>
                        </div>
                    </td>
                    <td></td>
                    <td colspan="2" class='colm'>
                        <div class="infosp" id='price'>
                            <b>0</b>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="main">
    <div class="info">
        <p class="mssv">MSSV: 18521571</p>
        <p class="name">Phạm Ngọc Trường</p>
    </div>
    <nav class="navbar">
        <button class="shoppingButton" type="buttonsubmit">
            <i class='fas fa-shopping-cart' style='font-size:16px'></i>
            Giỏ hàng
        </button>
    </nav>
    <div class='content'>
        <div class="content-wrapper">
            <!-- render data -->
        </div>
    </div>
</div> --}}
<h1>hello</h1>